body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#navbar {
    background-color: #00796b;
  }



h1 {
    color: #ffc107;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00796b;
    text-align: center;
    padding: 10px 0;
    color: #e0f7fa;
    margin-top: 70px;
  }

     /* Estilos personalizados para el navbar */
     .navbar {
        background-color: #343a40; /* Color de fondo */
    }
    .navbar-brand img {
        width: 40px; /* Ancho de la imagen del logo */
        height: 40px; /* Alto de la imagen del logo */
        margin-right: 10px; /* Margen derecho entre el logo y el texto */
    }
    .navbar-brand span {
        font-size: 1.5rem; /* Tamaño del texto del navbar */
        color: #fff; /* Color del texto */
    }
    .navbar-toggler {
        border-color: #fff; /* Color del borde del botón toggler */
    }
    .navbar-toggler-icon {
        background-color: #fff;
    }
    .navbar-nav .nav-link {
        color: #fff;
    }
    .navbar-nav .nav-link:hover {
        color: #ffc107;
    }
